@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300,400;600;700;800&display=swap');
:root{
	--color-celesteo-oscuro: #498c8d;
	--color-celeste-medio:#f6f6f6;
	--color-celeste-claro: #b9dbdc;
	--color-cafe-oscuro: #5e412f;
	--color-cafe-claro: #cdb4a5;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #444;
	font-weight: 300;
	line-height: 1.8 !important;
}
.header-area.sticky {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 99;
}
.header-area.sticky{
	background-color: #fff !important;
}

.lista-redes a{
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 100%;
	background-color: #ccc;
	display: block;
	color: #fff;
}
.lista-redes li{
	padding-right: 10px;
}
.lista-redes .facebook{
	background-color: #3b5998;
}
.lista-redes .twitter{
	background-color: #0c9aca;
}


#intro{
	padding-top: 10%;
}

#intro h2{
	font-size: 35px;
	font-weight: 300;
	text-align: left;
}

#intro p{
	font-weight: 300;
	text-align: justify;
}

.section{
	padding: 10% 0;
}

.titulo{
	color: #000;
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 3%;
}
.subtitulo{
	color: #222;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	width: 70%;
	margin: auto;
	margin-bottom: 5%;
}

#acerca{
	text-align: center;
} 

#acerca img{
	width: 100px;
}

#acerca h1{
	font-size: 40px;
	padding-bottom: 15px;
}

#acerca h3{
	padding-top: -10%;
}

.app-carousel {
    padding: 0 6%;
}

.app-carousel .owl-dots {
    text-align: center;
}
.app-carousel .owl-dot {
    height: 11px;
    width: 11px;
    border: 2px solid #a49fba !important;
    border-radius: 50%;
    margin: 35px 6px;
}
.app-carousel .owl-dot.active {
    background-color: #222;
    border: 0 !important;
	border: 2px solid #222 !important;
}


.btn{
	border-radius: 0;
	padding: 15px 30px;
	margin-right: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: 0;
}

.btn-negro{
	background-color: #000;
}

.btn-negro:hover{
	background-color: var(--color-verde);
}

.btn-verde{
	background-color: var(--color-verde);
}

.btn-verde:hover{
	background-color: #000;
}


.carousel-shots .active img{
	opacity: 0.8;
	transform: scale(0.8)
}

.carousel-shots .active.center img{
	opacity: 1;
	transform: scale(1)
}

#intro{
	background-color: #ddddde;
	text-align: center;
}

#intro p{
	text-align: left;
	margin-right: 30px;
}

#intro h3,p{
	margin-top: 10%;
}

.btn-gris{
	background-color:#498c8d;
	text-transform: uppercase;
	padding: 15px 35px;
	border-radius: 40px;
	border: 3px #498c8d;
	font-size: 14px;
	font-weight:600;
}

.btn-gris:hover{
	background-color: #f6f6f6;
	text-transform: uppercase;
	padding: 15px 35px;
	border-radius: 40px;
	font-size: 14px;
	font-weight:600;
}

.titulo{
	color: #498c8d;
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 3%;
}
.subtitulo{
	color: #6cafaf;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	width: 70%;
	margin: auto;
	margin-bottom: 5%;
}

#servicios{
	text-align: center;
	background-color: #b9dbdc;
}

#servicios i{
	border: 1px #498c8d;
	background-color: #fff;
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	color:#498c8d;
	font-size: 24px;
	border-radius: 100%;
	transition: all 0.3s ease-in-out;
}
#servicios i:hover{
	background-color: #498c8d;
	color: #fff;
	transition: all 0.3s ease-in-out;
}

#servicios h4{
	color: #6cafaf;
	font-size: 20px;
	font-weight: 300;
	margin: 30px 0;
}

#contact{
	background-image: url("../img/foto contacto.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: #FFF;
	font-size: 16px;
	padding: 15px;	
}



.btn-suscripcion{
	background-color: #5e412f;
}

footer{
	background-color: #161616;
	text-align: center;
	color: #999;
	padding: 8% 0;
}

footer img{
	width: 150px;
}